<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de estudiantes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />

</head>
<body>

    <h1>Estudiantes</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="cursos">Tabla cursos</a></li>
            <li><a href="profesores">Tabla de profesores</a></li>
            <li><a href="estudiantes">Tabla de estudiantes</a></li>
            <li><a href="administrativos">Tabla de administrativos</a></li>
        </ul>
    </div>

    <!-- Tabla de estudiantes -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Curso</th>
            <th>Actualizar curso</th>
        </tr>
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{ estudiante[0] }}</td>
            <td>{{ estudiante[1] }}</td>
            <td>{{ estudiante[2] }}</td>
            <td>
                <form action="/actualizar_estudiante/{{ estudiante[0] }}" method="post">
                    <input type="text" name="curso" value="{{ estudiante[2] }}" required>
                    <button type="submit">Actualizar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>