<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de estudiantes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />
    <script src="/static/script.js"></script>

</head>
<body>

    <h1>Estudiantes</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="cursos">Tabla cursos</a></li>
            <li><a href="profesores">Tabla de profesores</a></li>
            <li><a href="estudiantes">Tabla de estudiantes</a></li>
            <li><a href="administrativos">Tabla de administrativos</a></li>
        </ul>
    </div>

    <!-- Campo de búsqueda -->
    <input type="text" id="buscador" onkeyup="buscarEstudiante()" placeholder="Buscar por Estudiante o Curso">

    <!-- Tabla de estudiantes -->
    <table border="1" id="tablaEstudiantes">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Curso</th>
            <th>Actualizar curso</th>
        </tr>
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{ estudiante[0] }}</td>
            <td>{{ estudiante[1] }}</td>
            <td>{{ estudiante[2] }}</td>
            <td>
                <form action="/actualizar_estudiante/{{ estudiante[0] }}" method="post">
                    <select name="curso" required>
                        <option value="">Seleccione un curso: </option>
                        {% for curso in cursos %}
                            <option value="{{ curso[0] }}" {% if curso[0] == estudiante[3] %}selected{% endif %}>{{ curso[1] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Actualizar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>