<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Materias</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

    <h1>Materias</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="pagina3.html">Página 3</a></li>
            <li><a href="pagina4.html">Página 4</a></li>
        </ul>
    </div>

    <!-- Botón para cerrar sesión -->
    <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
        <button type="submit">Cerrar sesión</button>
    </form>

    <!-- Tabla de materias -->
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Estado</th>
            <th>Actualizar/Eliminar</th>
        </tr>
        {% for materia in materias %}
        <tr>
            <td>{{ materia[0] }}</td>
            <td>{{ materia[1] }}</td>
            <td>{{ materia[2] }}</td>
            <td>{{ materia[3] }}</td>
            <td>
                <form action="/actualizar_materia/{{ materia[0] }}" method="post">
                    <input type="text" name="descripcion" value="{{ materia[1] }}">
                    <input type="text" name="profesor" value="{{ materia[2] }}">
                    <input type="text" name="estado" value="{{ materia[3] }}">
                    <button type="submit">Actualizar</button>
                </form>
                <a href="/eliminar_materia/{{ materia[0]}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Formulario para agregar nueva materia -->
    <h2>Agregar Materia</h2>
    <form action="/agregar_materia" method="post">
        <input type="text" name="descripcion" placeholder="Materia">
        <input type="text" name="profesor" placeholder="Profesor">
        <input type="text" name="estado" placeholder="Estado">
        <button type="submit">Agregar</button>
    </form>
</body>
</html>