<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Materias</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />
    <script src="/static/script.js"></script>

</head>
<body>

    <h1>Materias</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="cursos">Tabla cursos</a></li>
            <li><a href="profesores">Tabla de profesores</a></li>
            <li><a href="estudiantes">Tabla de estudiantes</a></li>
            <li><a href="administrativos">Tabla de administrativos</a></li>
        </ul>
    </div>
    <input type="text" id="buscador" onkeyup="buscarMateria()" placeholder="Buscar por materia o profesor">

    <!-- Tabla de materias -->
    <table border="1" id="tablaMaterias">
        <tr>
            <th>ID</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Estado</th>
            <th>Actualizar/Eliminar</th>
        </tr>
        {% for materia in materias %}
        <tr>
            <td>{{ materia[0] }}</td>
            <td>{{ materia[1] }}</td>
            <td>{{ materia[2] }}</td>
            <td>{{ materia[3] }}</td>
            <td>
                <form action="/actualizar_materia/{{ materia[0] }}" method="post">
                    <input type="text" name="descripcion" value="{{ materia[1] }}" required>
                    <select name="profesor" required>
                        <option value="">Seleccione un profesor:</option>
                        {% for profesor in profesores %}
                            <option value="{{ profesor[0] }}">{{ profesor[1] }} {{ profesor[2] }}</option>  <!-- profId como value y nombre+apellido como texto -->
                        {% endfor %}
                    </select>
                    <select name="estado" value="{{ materia[3] }}" required>
                        <option value="{{ materia[3] }}">{{ materia[3] }}</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    <button type="submit">Actualizar</button>
                </form>
                <a href="/eliminar_materia/{{ materia[0]}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Formulario para agregar nueva materia -->
    <h2>Agregar Materia</h2>
    <form action="/agregar_materia" method="post">
        <input type="text" name="descripcion" placeholder="Materia" required>
        <select name="profesor" required>
            <option value="">Seleccione un profesor:</option>
            {% for profesor in profesores %}
                <option value="{{ profesor[0] }}">{{ profesor[1] }} {{ profesor[2] }}</option>  <!-- profId como value y nombre+apellido como texto -->
            {% endfor %}
        </select>
        <select name="estado" required>
            <option value="">Seleccione un estado:</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>