<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Profesores</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />
    <script src="/static/script.js"></script>

</head>
<body>

    <h1>Profesores</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="cursos">Tabla cursos</a></li>
            <li><a href="profesores">Tabla de profesores</a></li>
            <li><a href="estudiantes">Tabla de estudiantes</a></li>
            <li><a href="administrativos">Tabla de administrativos</a></li>
        </ul>
    </div>

    <!-- Campo de búsqueda -->
    <input type="text" id="buscador" onkeyup="buscarProfesor()" placeholder="Buscar por Profesor o Estudios">

    <!-- Tabla de profesores -->
    <table border="1" id="tablaProfesores">
        <tr>
            <th>ID</th>
            <th>Profesor</th>
            <th>Estudios</th>
            <th>Actualizar estudios</th>
        </tr>
        {% for profesor in profesores %}
        <tr>
            <td>{{ profesor[0] }}</td>
            <td>{{ profesor[1] }}</td>
            <td>{{ profesor[2] }}</td>
            <td>
                <form action="/actualizar_profesor/{{ profesor[0] }}" method="post">
                    <input type="text" name="estudios" value="{{ profesor[2] }}" required>
                    <button type="submit">Actualizar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>