<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Profesores</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />
    <script src="/static/script.js"></script>

</head>
<body>
    <header>
        <img class="logo" src="/static/Imagenes/Logo_poli.png" alt="logo">
        <h1>Modulo de Profesores</h1>
    <!-- Menu principal -->
        <nav class="menu_principal">
            <div class="Boton_menu"><a href="index">Tabla usuario</a></div>
            <div class="Boton_menu"><a href="materias">Tabla materias</a></div>
            <div class="Boton_menu"><a href="cursos">Tabla cursos</a></div>
            <div class="Boton_menu"><a href="profesores">Tabla de profesores</a></div>
            <div class="Boton_menu"><a href="estudiantes">Tabla de estudiantes</a></div>
            <div class="Boton_menu"><a href="administrativos">Tabla de administrativos</a></div>
        </nav>
    </header>
    <fieldset class="Consultas">
        <h2> Consulta de Profesores</h2> 
        <!-- Campo de búsqueda -->
        <input type="text" class="Buscador" style="margin: 0 15%;" id="buscador" onkeyup="buscarProfesor()" placeholder="Buscar por Profesor o Estudios">
        <!-- Tabla de profesores -->
        <table class="Tabla_con" style="margin: 0 15%;" id="tablaProfesores">
            <tr>
                <th>ID</th>
                <th>Profesor</th>
                <th>Estudios</th>
                <th>Actualizar estudios</th>
            </tr>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor[0] }}</td>
                <td>{{ profesor[1] }}</td>
                <td>{{ profesor[2] }}</td>
                <td class="Tabla_mod">
                    <form action="/actualizar_profesor/{{ profesor[0] }}" method="post">
                        <input class="Caja_texto_mod" type="text" name="estudios" value="{{ profesor[2] }}" required>
                        <button class="Botones_mod" type="submit">Actualizar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
</body>
</html>