<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/Imagenes/Icono.png" />
    <script src="/static/script.js"></script>
    
</head>
<body>

    <h1>Usuarios</h1>

    <div class="navbar">
        <ul>
            
            <li><a href="index">Tabla usuario</a></li>
            <li><a href="materias">Tabla materias</a></li>
            <li><a href="cursos">Tabla cursos</a></li>
            <li><a href="profesores">Tabla de profesores</a></li>
            <li><a href="estudiantes">Tabla de estudiantes</a></li>
            <li><a href="administrativos">Tabla de administrativos</a></li>
        </ul>
    </div>

      <!-- Barra de búsqueda -->
      <form onsubmit="return false;">
        <input type="text" id="buscador" onkeyup="buscarUsuario()" placeholder="Buscar por nombre o documento" onkeydown="if(event.key === 'Enter'){buscarUsuario();}">
    </form>

    <!-- Tabla de Usuarios -->
    <table border="1" id="tablaUsuarios">
        <tr>
            <th>Documento</th>
            <th>Correo</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Tipo de Documento</th>
            <th>Telefono</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Actualizar/Eliminar</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>{{ usuario[5] }}</td>
            <td>{{ usuario[6] }}</td>
            <td>{{ usuario[7] }}</td>
            <td>
                <form action="/actualizar/{{ usuario[0] }}" method="post">
                    <input type="text" name="documento" value="{{ usuario[0] }}" pattern="\d{8}|\d{10}" maxlength="10" title="Debe ingresar un número de documento valido" required>
                    <input type="email" name="correo" value="{{ usuario[1] }}" required>
                    <input type="text" name="apellido" value="{{ usuario[2] }}" required>
                    <input type="text" name="nombre" value="{{ usuario[3] }}" required>
                    <select name="tipoDocumento" value="{{ usuario[4] }}" required>
                        <option value="{{ usuario[4] }}">{{ usuario[4] }}</option>
                        <option value="CC">CC</option>
                        <option value="CE">CE</option>
                        <option value="TI">TI</option>
                      </select>
                    <input type="text" name="telefono" value="{{ usuario[5] }}" minlength="10" maxlength="10" pattern="\d+" title="Debe ingresar solo números" required>
                    <select name="estado" value="{{ usuario[6]}}" required>
                        <option value="{{ usuario[6] }}">{{ usuario[6] }}</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                    <select name="rol" value="{{ usuario[7] }}" required>
                        <option value="">Seleccione un rol: </option>
                        <option value="1">Administrador</option>
                        <option value="2">Profesor</option>
                        <option value="3">Estudiante</option>
                      </select>
                    <button type="submit">Actualizar</button>
                </form>
                <a href="/eliminar/{{ usuario[0]}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Formulario para agregar nuevo usuario -->
    <h2>Agregar Usuario</h2>
    <form action="/agregar" method="post">
      {% if error %}
          <p style="color:red;">{{ error }}</p>
      {% endif %}
      <input type="text" name="documento" placeholder="Documento" pattern="\d{8}|\d{10}" maxlength="10" title="Debe ingresar un número de documento valido" required>
      <input type="email" name="correo" placeholder="Correo" required>
      <input type="text" name="apellido" placeholder="Apellido" required>
      <input type="text" name="nombre" placeholder="Nombre" required>
      <select name="tipoDocumento" required>
          <option value="">Tipo de documento:</option>
          <option value="CC">CC</option>
          <option value="CE">CE</option>
          <option value="TI">TI</option>
      </select>
      <input type="text" name="telefono" placeholder="Telefono" minlength="10" maxlength="10" pattern="\d+" title="Debe ingresar solo números" required>
      <select name="estado" required>
          <option value="">Seleccione un estado:</option>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
      </select>
      <select name="rol" required>
          <option value="">Seleccione un rol:</option>
          <option value="1">Administrador</option>
          <option value="2">Profesor</option>
          <option value="3">Estudiante</option>
      </select>
      <button type="submit">Agregar</button>
  </form>

  
</body>
</html>